{{ with .Site.Data.hero }}
{{ if .enable }}
<section class="hero" id="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="hero_content">
          <div class="mb-5">
            {{ .content | markdownify }}
          </div>
{{ if .button.URL }}
          <a type="button" class="btn btn-lg btn-primary btn-zoom" href="{{ .button.URL | absURL }}">{{ .button.Name }}</a>
{{ end }}
        </div>
      </div>
      <div class="col">
        <div class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {{ range $elem_index, $elem_val := .imageCarousel }}
            <div class="carousel-item{{ if eq $elem_index 0  }} active{{end}}">
              <img class="rounded-lg d-block w-100" src="{{ $elem_val  | absURL }}" alt="{{ $elem_val }}" style='-webkit-mask: url({{"images/hero/hero-mask-svg.svg" | absURL}}); -webkit-mask-size: contain;'>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
{{ end }}
{{ end }}
